doctype html
html(lang='en')
  head
    title  Wheres lunch?
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=ubuntu+mono" rel="stylesheet"')
    link(href='https://fonts.googleapis.com/css?family=poiret+one" rel="stylesheet"')

    link(href='/css/style.min.css', rel='stylesheet')
  body
    site
      header
          h1#toggleButton
            i.fa.fa-search
            h1 Lunch Hunter #[i.fa.fa-truck]
      content
        .sidebar
          .search
            h2 Food Truck Search:
            input(data-bind="textInput: searchString", type='text', name='searchBox', placeholder='Search by name or keyword')
            hr
          .searchList
            ul(data-bind="foreach: visibleTrucks")
              li
                span(data-bind='text: name, click: $parent.selectedTruck')
        .map#map
    footer
      p paul.hoefgen@gmail.com   --  #[a(href='https://github.com/phoefgen/lunch-hunter') Source on Github] Data from  #[a(href='https://streetfoodapp.com') streetfoodapp.com]

script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js')
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js')
script(type='text/javascript' src='js/main.js')
script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB7qdN9GmWXn3wLhxhkJ18cEL6DgWpoY4Y&v=3&callback=initMap')

